<!DOCTYPE html>
<html>
<head>
  <title>BlogRails2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-tabs">
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Authors
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <li><a href="/authors">See all authors</a></li>
      <li><a href="/authors/new">Add new author</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Posts
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <li><a href="/posts">See all posts</a></li>
      <li><a href="/posts/new">Add new post</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Comments
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <li><a href="/comments">See all comments</a></li>
      <li><a href="/comments/new">Add new comment</a></li>
    </ul>
  </li>
</ul>
<%= yield %>

</body>
</html>
